name: Build, Test and Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-publish:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'

    - name: Setup GitHub Packages
      run: dotnet nuget add source --username siarhei-shchypanau --password ${{ secrets.NUGET_API_KEY }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/solidexpert-ltd/index.json"

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --verbosity normal 

    - name: Pack
      run: dotnet pack -p:PackageVersion=1.1.${{ github.run_number }} -o ./ --configuration Release

    - name: Publish to GitHub Packages
      run: dotnet nuget push Solidex.Microservices.Core.1.1.${{ github.run_number }}.nupkg --source github